REDPANDA_BROKERS=redpanda:9092
REDPANDA_TOPIC=ecommerce_events
SCHEMA_REGISTRY_URL=http://redpanda:8081
EVENTS_PER_SECOND=2
ENABLE_SCHEMA_EVOLUTION=false
ENABLE_DUPLICATE_MODE=false

DORIS_HOST=localhost
DORIS_PORT=9030
DORIS_USER=root
DORIS_PASSWORD=

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=lakehouse

ICEBERG_ENABLED=false
ICEBERG_CATALOG_NAME=demo_catalog
ICEBERG_CATALOG_URI=sqlite:////workspace/jobs/.iceberg/demo_catalog.db
ICEBERG_WAREHOUSE=s3://lakehouse/warehouse
ICEBERG_S3_REGION=us-east-1
